
a.context-menu__link {
  border-radius: 5px;
  width:  100%;
}

.fa-window-minimize {
    color:  rgb(93,94,96);
}

#context-menu a.sm-link-icon::after{
    font-family: "FontAwesome";
    content: "\f054";  /* fa-chevron-right */
    position:  absolute;
    right:  10px;
    font-size: 0.8em;
}

/* context menu */

.context-menu {
  background-color: rgb(40,41,43);
  border: solid 1px rgb(83,84,86);
  box-shadow: 3px 3px 10px #1e1e1e;
}

.context-menu-active {  /* needed to avoid no right-click  */
  display: block;
}

.context-menu__link {
  color: #fff;
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 3px;
}

.context-menu__link:hover {
  color: #fff;
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 3px;
  width: 96%;
}

.context-menu__link-disabled {
  color: rgb(103,104,106);
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.context-menu__link-disabled:hover {
  color: rgb(103,104,106);
  background-color: rgb(40,41,43);
  width:  100%;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* context-submenu */

.context-submenu {
  background-color: rgb(40,41,43);
  border: solid 1px rgb(83,84,86);
  box-shadow: 3px 3px 10px #1e1e1e;
}

.context-submenu-active {  /* needed to avoid no right-click  */
  display: block;
}

.context-submenu__link {
  color: #fff;
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 3px;
}

.context-submenu__link:hover {
  color: #fff;
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 3px;
}

.submenuActive {
  color: #fff;
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 3px;
}

.speed {
  color: rgb(103,104,106);
}

.linkover:hover .speed {
  color: #fff;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  width: 85% !important;
}

.separator:hover {
  margin-left: 10px;
  margin-right: 10px;
  width: 85%;
}



